# **SpaceX  Falcon 9 Exploratory Data Analysis with SQL**

## Objectives
Using this Python notebook we will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

----

### Download the datasets

This assignment requires we to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
#Please uncomment and execute the code below if we are working locally.
!pip install sqlalchemy
!pip install pandas
!pip install ipython-sql

import pandas as pd
import csv, sqlite3

In [ ]:
%load_ext sql

In [ ]:
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
%sql sqlite:///my_data1.db

In [ ]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [ ]:
%%sql
DROP TABLE IF EXISTS SPACEXTABLE;
CREATE TABLE SPACEXTABLE AS SELECT * FROM SPACEXTBL WHERE Date IS NOT NULL;

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [ ]:
%%sql 
SELECT DISTINCT LAUNCH_SITE FROM SPACEXTBL;


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
%%sql 
SELECT *
FROM SPACEXTBL
WHERE LAUNCH_SITE LIKE'CCA%' LIMIT 5;

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%%sql 
SELECT SUM(PAYLOAD_MASS__KG_)
FROM SPACEXTBL
WHERE CUSTOMER = 'NASA (CRS)';

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
%%sql 
SELECT AVG(PAYLOAD_MASS__KG_) 
FROM SPACEXTBL 
WHERE BOOSTER_VERSION = 'F9 v1.1';

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [ ]:
%%sql 
SELECT MIN(Date) AS Minimum_Date
FROM SPACEXTBL;

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
%%sql 
SELECT PAYLOAD
FROM SPACEXTBL
WHERE PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000
AND Landing_Outcome = 'Success (drone ship)';

### Task 7




##### List the total number of successful and failure mission outcomes

In [ ]:
%%sql
SELECT MISSION_OUTCOME, COUNT(*) AS total_number
FROM SPACEXTBL
GROUP BY MISSION_OUTCOME;

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
%%sql 
SELECT BOOSTER_VERSION
FROM SPACEXTBL
WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So we need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [ ]:
%%sql 
SELECT substr(Date,6,2) AS month ,BOOSTER_VERSION, LAUNCH_SITE, Landing_Outcome
FROM SPACEXTBL
WHERE Landing_Outcome = 'Failure (drone ship)' 
AND substr(Date,0,5)='2015';

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
%%sql 
SELECT Landing_Outcome, count(*) as count_outcomes, Date
FROM SPACEXTBL
WHERE DATE BETWEEN '2010-06-04' and '2017-03-20'
GROUP BY Landing_Outcome 
ORDER BY count_outcomes DESC;

### Author
<p style="text-align:left">
    <a href="https://www.linkedin.com/in/goncalompgarcia/" target="_blank">
    <img src="https://media.licdn.com/dms/image/v2/D4D03AQFy-sZDCp5IKw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1677110860633?e=1735171200&v=beta&t=05qcF4FXWzO8wMClr336EQPTYgYVSxfq0Da4WIGe7n8" width="200" style="border-radius: 50%;" alt="Gonçalo Picture">
    </a>
</p>

### <a href="https://www.linkedin.com/in/goncalompgarcia/">Gonçalo Garcia</a> 
### <a href="https://www.linkedin.com/in/goncalompgarcia/">linkedin.com/in/goncalompgarcia/</a> 
#### Data-driven Value Delivery | Python, SQL, Analytics | Digital & Project Management | Mechanical Engineer | Private Teacher